<%- include('header') %>

  <article id="startpage">
    <section id="startpageText">
      <h2>CompanyName</h2>
      <p>Information about the company</p>
      <br>
      <p>
        <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, in tamquam admodum alienum pri. Malorum persecuti definitionem ne mei, ei has bonorum consetetur persequeris. 
        Pri an nemore option tacimates. Mea eripuit facilisi eleifend no, diceret feugiat hendrerit quo id. 
        Dolore cotidieque mel ex. Eam fugit qualisque philosophia eu, eu sale deserunt invenire qui. <i class="fa fa-quote-right"></i>
      </p>
      <br>
      <p id="sign">Namn Efternamn</p>
    </section>
  </article>




<%- include('footer') %>